.main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
    .session-form-container {
        z-index: 999;
        width:1100px;
        margin-top: -490px;
        padding-left: 37.5px;
        @media screen and (min-width: 1100px) {
            padding-left: 4.5vw;
        }
        @media screen and (min-width: 1165px) {
            padding-left: 75px;
        }
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        .toggle-btn {
            background-color:transparent;
            border:none;
            color: white;
            padding-left: 65px;
            margin-top:15px;
            font-size: 14px;
            font-weight: 100;
            z-index: 999;
        }
        .toggle-btn:hover {
            text-decoration: underline;
        }
    }
}
#landing {
    margin-top:-5px;
    width:100%;
    width:1100px;
    margin-left: auto;
    z-index: 0;
}
.session-form {
    input {
        border-color: rgb(184, 184, 184);
        height:35px;
        width:215px;
        margin-bottom: 5px;
        padding-left: 5px;
        background-color: white;
    }
    input:hover {
        transition: 0.25s;
        border-color:rgb(121, 121, 121)
    }
    input:focus {
        border-color: rgb(1, 80, 170);
    }
   .submit{
       text-align:center;
       background-color:transparent;
       border-color: white;
       color:white;
       font-size: 18px;
   }
   .submit:hover {
        transition: 0.4s;
        border-color:white;
        background-color: #0052C2;
    }
}
.errors {
    position: absolute;
    margin-top:-45px;
    font-size: 13px;
}
.signin {
    margin-top:-70px;
}