.content-explore {
    height: 94vh;
}
.content-explorer {
    border-top: 1px solid rgb(214, 214, 214);
}
.nav {
    float:right;
    margin-right:50px;
    font-size:15px;
    margin-bottom: 10px;
}
.signout {
    margin-top:-7.5px;
    background: rgb(151, 151, 151);
}
.signout:hover {
    background: rgb(100, 100, 100);
}